
<footer class="site-footer">
  <div class="footer-content">
    <!-- Left: copyright -->
    <p class="footer-left">© {{ site.time | date: "%Y" }} {{ site.author.name }}. My way of enjoying is not the only way to enjoy life. </p>

    <!-- Right: social icons -->
    <div class="footer-right">
      <a href="https://twitter.com/aacharyaaaditya" target="_blank" aria-label="Twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="https://tiktok.com/@aacharyaaaditya" target="_blank" aria-label="Tiktok">
        <i class="fa-brands fa-tiktok"></i>
      </a>
      <a href="https://youtube.com/aacharyaaaditya" target="_blank" aria-label="Youtube">
        <i class="fa-brands fa-youtube"></i>
      <a/>
       <a href="https://facebook.com/aacharyaaaditya" target="_blank" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
  </div>
</footer>
