<footer style="display: flex; justify-content: space-between; align-items: center; padding: 1em;">
  <p style="margin: 0;">&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  <div>
    <a href="https://facebook.com/yourprofile" target="_blank" style="margin-right: 10px; text-decoration: none;">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/yourprofile" target="_blank" style="margin-right: 10px; text-decoration: none;">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://linkedin.com/in/yourprofile" target="_blank" style="text-decoration: none;">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</footer>
