<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}

<head>
  <!-- Other head content -->

  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XHZWZLBYZY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XHZWZLBYZY');
  </script>
</head>

</head>
<body>
  {% include header.html %}

<main class="site-body">
  <div class="content-container"> <!-- for adding vertical lines -->
    {{ content }}
  </div>
</main>

  {% include footer.html %}
</body>
</html>

